@page
@model Schedlr.Pages.DashboardModel
@{
}
<div class="text-center">
    <h1 class="display-4"> @Model.loggedEmployee.FirstName 's Dashboard</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class=" col-md-5 scrollBar">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Day & Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">Start</th>
                    <th scope="col">Finish</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Shifts.Count; i++)
                {
                    <tr>
                        <th scope="row">@Model.Shifts[i].ShiftID</th>
                        <td>N/A</td>
                        <td>@Model.Shifts[i].ShiftRole</td>
                        <td>@Model.Shifts[i].ShiftStart</td>
                        <td>@Model.Shifts[i].ShiftEnd</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>



</div>


@section Scripts
{
    <!--  <script src="~/lib/moment.js/moment.min.js"></script> -->
}

